<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Wagglers</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='styles.css' rel='stylesheet' type='text/css' />
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h2>Your programs</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Select one of your programs</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Adler Hackshops</li>
          <li class="list-group-item">CHOICES robotics</li>
          <li class="list-group-item">Field Museum dance party</li>
        </ul>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Waggles, a Hive is Five Hack<a href="https://github.com/arfon/waggler">GitHub</a></p>
      </div>
    </div>
  </body>
</html>
