<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Wagglers</title>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='styles.css' rel='stylesheet' type='text/css' />

</head>

<body>
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h2>Adler Hackshops</h2>
    </div>
    <h2>Programme Start Time</h2>
    <h2>Location:</h2>
    <p>The Adler Planetarium</p>


    <p class="lead">Travel Options</p>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Car Pool
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Bus
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Train
    </button>


  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted">Waggles, a Hive is Five Hack <a href="https://github.com/arfon/waggler">GitHub</a></p>
    </div>
  </div>
</body>
</html>
