<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Wagglers</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='styles.css' rel='stylesheet' type='text/css' />

</head>

<body>
  <!-- Begin page content -->
  <div class="container">

    <div class="page-header">
      <h2>Adler Hackshops</h2>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Programme Details</div>
        <div class="panel-body">
        <ul>
          <li>Start Time: 4:30pm</li>
          <li>Finish Time: 6:30pm</li>
          <li>Contact: Nathalie, 312-123-4569</li>
          <li>Notes: Dinner is included</li>
        </ul>
        </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Location</div>
        <div class="panel-body">
            <ul>
              <li>The Adler Planetarium</li>
              <li>1300 S Lakeshore Drive</li>
              <li>Chicago, Il, 60605</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Additional Notes</div>
      <div class="panel-body">
        <p>When you arrive make sure you got to the south box office. Any problems, ask someone behind the desk to call the Citizen Science department to call Nathalie (ext. 1234).</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Shared Travel Options</h3>
      </div>
      <!-- List group -->
      <div class="list-group programs">
        <a href="/third" class="list-group-item">Car Service<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
        <a href="/third" class="list-group-item">Public Transit with Other Youth<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
        <a href="/third" class="list-group-item">Public Transit with Commuter<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>

      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted">Waggles, a Hive is Five Hack &middot; <a href="https://github.com/arfon/wagglers">GitHub</a></p>
    </div>
  </div>
</body>
</html>
