<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Wagglers</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='styles.css' rel='stylesheet' type='text/css' />
</head>

<body>
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h2>Shared Car Service</h2>
    </div>

    <div class="media">
      <a class="media-left" href="#">
        <img src="arfon.jpeg" alt="" width="100px">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Arfon Smith</h4>
        Red Honda Civic<br />
        Cell: <a href="tel:1-408-555-5555">1-408-555-5555</a>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Riding with you</h3>
      </div>
      <!-- List group -->
      <div class="list-group riders">
        <li class="list-group-item accepted">Laura <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span></li>
        <li class="list-group-item accepted">Jackie <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span></li>
        <li class="list-group-item accepted">Derek <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span></li>
        <li class="list-group-item rejected">Jerome <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span></li>
      </div>
    </div>

    <h4>Trip details</h4>

    <div class="map">
      <center>
        <img class="img-responsive" src="map.jpg" alt="" />
      </center>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted">Waggles, a Hive is Five Hack &middot; <a href="https://github.com/arfon/wagglers">GitHub</a></p>
    </div>
  </div>
</body>
</html>
